body{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#board{
  margin-top: 50px;
  /* height: 500px; */
  background-image: url('./flappybirdbg.png');
}

@media (max-width:430px) {
  #board{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
